﻿html {
    margin: 0px;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

#wrap {
    height: 100%;
}

#map {
    padding: 0px;
    height: 100%;
}

.rew {
    display: block;
    color: #222;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .rew:hover {
        background-color: gainsboro;
    }

